<!-- destino.nombre es una propiedad del objeto utilizando tecnica moustache-->
<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span><h4>{{destinos.name}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destinos.name}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatisvoluptas totam</p>
    <!-- <a href="#" class="btn-card">Read</a> -->
    <a href="#" class="btn-card" (click)="ir()">Ir!</a>
    <!-- PASO DOS: Distintivo de seleccion de boton -> si es verdadero ? entonces '' se deja tal cual, si no : 'none' el valor -->
    <span [style.display]="destinos.isSelected() ? '' : 'none'">+PREFERIDO+</span>
  </div>
</div>
